body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.box {
  width: 120px;
  height: 36px;
  border-radius: 36px;
  background-color: #1d1d1d;
}
